<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- buoc 1. nhung thu vien angularjs tu duong link CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>
<body>
   <h2>ng-filter uppercase</h2>
   <hr>
   <div ng-app="myAPP" ng-controller="myCTR">
         <h3>Student names:</h3>
         <ul>
             <li ng-repeat="x in list">{{x|uppercase}}</li>
         </ul>
         <hr>
         <p>Search name: <input ng-model='search'></p>
         <hr>
         <h3>Result:</h3>
         <ul>
             <li ng-repeat="x in list|filter:search">{{x}}</li>
         </ul>
   </div> 
</body>
<script>
    angular.module("myAPP", []).controller("myCTR", function($scope){
        $scope.list = ["Nguyen Thien","Van Minh","Thang Doan","Van Nam","Huy Hoang","Quynh Huong","Giang Vu"];
    });
</script>
</html>